.song {
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid green;
    width: 100%;
    align-items: center;
}
.songDetails {
    flex: 8;
    text-align: left;
    padding: 5px;
}
.icon {
    flex: 1;
}
.artist, .songName {
    margin: 0; 
    margin-top: 3px; 
    margin-bottom: 3px; 
}
.songName {
    font-weight: bold;
}
.song.artist {
    font-style: italic;
}

svg {
    width: 10%; 
    /* height: 50px;  */
    fill: #5f6368; 
    transition: transform 0.3s, fill 0.3s; 
}
svg:hover {
    transform: scale(1.2); 
    transition: none;
    fill: green; 
}
svg {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}
svg:active {
    transition: none;
    fill: #34A853; 
    transform: scale(0.95); 
}